#
# for Linux
#
projection
a.out
core
*.o
*.dep
#
# for Mac
#
/build/
/DerivedData/
xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.moved-aside
*.xcuserstate
*.xccheckout
.DS_Store
#
# for Windows
#
Thumbs.db
*.com
*.exe
*.ncb
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
/Debug/
/Release/
/x64/
/packages/
#
# anothre stuff
#
*.tmp
*.swp
*.bak
*~
